body{
    background:#FFC0CB;
    margin: 0;
}
#main-div{
   background:#e75480;
   width: 1200px;
   height: 600px;
   margin-left: 15%;

}
h1{
    color: #FFC0CB;
    text-align: center;
    border: solid #ffffff 10px;
    /* margin-top: 10px; */
    padding-top: 25px;
    font: 'serif';
    font-size: 50px;
    font-weight: 2000;
}

hr{
    width: 90%;
    margin-left: 5%;
}