* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #B8E2F2
;
  color: #1a1a1a;
  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.title {
  font-size: 80px;
  color: #AA336A;
  font-weight: 700;
}

.title span {
  color: #AA336A;
}

.edition {
  background: #FF69B4;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 10px;
}

.role {
  color: #FF69B4;
  font-weight: 600;
  margin-top: 5px;
}

.intro {
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.intro h2 {
  color: #AA336A;
  font-size: 40px;
  margin-bottom: 15px;
}

.intro p {
  line-height: 1.6;
  font-size: 16px;
  color: #333;
}

.linkedin {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #FF69B4;
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.profile .info {
  text-align: left;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 50px;
}

.block {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
  width: 300px;
  
}

.block h3 {
  color: #FFC0CB;
  margin-bottom: 15px;
}

.block ul {
  list-style: none;
  line-height: 1.8;
}

.skills li {
  display: inline-block;
  background: #e8e8ff;
  color: #FF69B4;
  padding: 6px 12px;
  border-radius: 20px;
  margin: 5px;
  font-weight: 500;
}
.assignments-section {
  margin: 80px auto;
  text-align: center;
  max-width: 1100px;
}

.section-title {
  color: #0042ff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.assignments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}

.assignment-card {
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  text-align: left;
}

.assignment-card:hover {
  transform: translateY(-5px);

}

.assignment-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.assignment-text {
  padding: 20px;
}

.assignment-text h3 {
  color: #0042ff;
  font-size: 18px;
  margin-bottom: 8px;
}

.assignment-text p {
  font-size: 15px;
  color: #444;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 30px 0;
  color: #555;
}
